/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ocalCache/
/[Aa]ssetBundles/
/[Aa]ssets/StreamingAssets/Bundles/
/[Ss]witchIL2CPPCache/
/[Ss]witchIL2CPPStats/
ProjectSettings/ProjectVersion.txt

build.log
Thumbs.db*
.DS_Store
*.csproj
*.pidb
*.sln
*.unityproj
*.userprefs
*.suo
*.user
*.booproj
*.StyleCop
*.DotSettings
.vs/
Bundles.meta
StyleCop.Cache

UWP/
WS/
